.profile__caption {
  margin: 0;
  padding-top: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media (max-width: 680px) {
  .profile__caption {
    font-size: 14px;
    line-height: 17px;
    padding-top: 7px;
    max-width: 282px;
  }
}
