.header__email {
  margin: 0 24px 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #fff;
}

@media (max-width: 580px) {
  .header__email {
   font-size: 15px;
   line-height: 20px;
 }
 }
 
 @media (max-width: 370px) {
   .header__email {
    font-size: 10px;
    line-height: 20px;
    margin: 0 10px 0 0;
  }
  }