.start-page__link {
  margin: 15px auto 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.start-page__link:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}