.start-page__button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
  border: 0;
  background: #fff;
  color: #000;
  margin: 185px auto 0;
  padding: 0;
  box-sizing: border-box;
  align-self: center;
  width: 358px;
  height: 50px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.start-page__button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 510px) {
  .start-page__button {
    width: 260px;
    height: 46px;
    font-size: 16px;
    line-height: 19px;
    margin: 173px auto 77px;
  }
}