.profile__info {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 32px;
  max-width: 336px;
}

@media (max-width: 680px) {
  .profile__info {
    padding: 26px 0 32px;
    align-items: center;
    max-width: 282px;
  }
}
